
.footer {
  width: 100%;
  font-family: 'Pretendard';
}

.family__list {
  display: none;
}

.footer__top-wrap {
  width: 100%;
  background: #ffffff;
}

/* footer__윗집 */
.footer__top {
  max-width: 1500px;
  margin: 0 auto;
  padding: 17px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__menu {
  display: flex;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__menu li a {
  color: #333;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  opacity: 0.9;
}

.footer__family {
  position: relative;
}

/* familysite 버튼 */
#familyBtn {
  background: transparent;
  border: 2px solid #333;
  padding: 10px 26px;
  border-radius: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;

  font-size: 15px;
  font-weight: 400;
  cursor: pointer;

  width: 200px;
}

/* 아이콘 이미지 */
#familyBtn .footer-arrow img {
  width: 27px;
  height: 27px;
  object-fit: contain;
  transition: transform 0.2s ease;
}

/* familysite 버튼 드롭다운 */
.family__list {
  display: none;
  position: absolute;
  top: 70px;
  right: 0;
  width: 190px;

  background: #fff;
  border-radius: 15px;
  padding: 10px 0;
  list-style: none;
  margin: 0;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.family__list li {
  padding: 12px 18px;
}

.family__list li a {
  color: #333;
  text-decoration: none;
  font-size: 15px;
  display: block;
  font-weight: 400;
}

.family__list li:hover {
  color: #fff;
  background: #f5f5f5;
  opacity: 0.8;
}

/* footer__아랫집 */
.footer__bottom-wrap {
  width: 100%;
  background: #00253C;
  color: #ffffff;
}

.footer__bottom {
  max-width: 1500px;
  margin: 0 auto;
  padding: 50px 40px;

  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.footer__logo img {
  width: 150px;
  margin-bottom: 15px;
}

.footer__left p {
  font-size: 14px;
  font-family: 'Pretendard';
  line-height: 1.7;
  opacity: 0.9;
  margin: 1px 0;
  font-weight: 100;
  color: #ffffff;
}

.footer__left .copyright {
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.7;
}

.footer__right {
  text-align: left;
  color: #fff;
}

.cs-title {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 8px;
}

.cs-number {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 6px;
}

.cs-time {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.9;
  margin-bottom: 15px;
}

.insta-icon img {
  width: 35px;
  opacity: 0.9;
}

.footer__left p br {
    display: none;
}

/* TABLET - 768px ~ 1024px */
@media (max-width: 1024px) and (min-width: 768px) {
  .footer__top {
    padding: 17px 30px;
  }

  #familyBtn {
    width: 180px;
    padding: 10px 20px;
    font-size: 14px;
  }

  #familyBtn .footer-arrow img {
    width: 24px;
    height: 24px;
  }

  .footer__bottom {
    flex-direction: column;
    gap: 40px;
    padding: 40px 30px;
  }

  .footer__right {
    text-align: left;
  }

  .footer__left .copyright {
    margin-top: 10px;
    font-size: 14px;
    opacity: 0.7;
  }

  .footer__left p br {
    display: none;
  }
}

/* MOBILE - 0px ~ 767px */
@media (max-width: 767px) {
   .footer__top {
    padding: 15px 20px;
    justify-content: space-between;
  }

  /* 메뉴 부분 */
  .footer__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;        
  }

  .footer__menu li a {
    font-size: 9px;  
    font-weight: 400;
    white-space: nowrap; 
      
    line-height: 1.55;   
  }

  #familyBtn {
    background: transparent;
    border: 1px solid #000;
    padding: 4px 15px;
    border-radius: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 8px;
    font-weight: 300;
    line-height: 100%;
    cursor: pointer;

    width: 100%;
    
  }

  #familyBtn .footer-arrow img {
    width: 14px;
    height: 14px;
  }

  .footer__bottom {
    flex-direction: column;
    padding: 35px 20px;
    gap: 18px;
  }

  .footer__logo img {
    width: 100px;
    margin-bottom: 8px;
  }

  .footer__left p {
    font-size: 9px;         
    line-height: 1.55;      
    margin: 3px 0;          
    font-weight: 100;
  }

  .footer__left p:first-of-type {
    margin-top: 2px;
  }

  .footer__left p:nth-of-type(3),
  .footer__left p:nth-of-type(4),
  .footer__left p:nth-of-type(5),
  .footer__left p:nth-of-type(6) {
    display: none;
  }

  .footer__left p br {
    display: inline;
  }

  /* copyright */
  .footer__left .copyright {
    font-size: 11px;        
    opacity: 0.75;
    margin-top: 12px;
  }

  .footer__right {
    text-align: left;
  }

  .cs-title,
  .cs-number,
  .cs-time {
    display: none;
  }

  .insta-icon img {
    width: 30px;           
    margin-top: 5px;
  }

  /* familysite 버튼 드롭다운 */
  .family__list {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    width: 90px;

    background: #fff;
    border-radius: 15px;
    padding: 10px 0;
    list-style: none;
    margin: 0;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 10;
  }

  .family__list li {
    padding: 7px 15px;
  }

  .family__list li a {
    color: #333;
    text-decoration: none;
    font-size: 8px;
    display: block;
    font-weight: 200;
  }

  .family__list li:hover {
    background: #f5f5f5;
  }
}
